*{
    box-sizing: border-box;
}
.contenedor {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 33vw;
    border: 2px solid black;
    background-color: hsl(100,100%,70%);
}

.contenedor-item {
    flex-wrap: wrap;

}

.super-cont {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 0;
}